body{
    display: flex;
    justify-content: center;
}
#outer{
    width: 400px;
    height: 400px;
    background-color: orange;
    border-radius: 50%;
    justify-content: center;
    position: relative;
}
#mouth{
    width: 200px;
    height: 75px;
    background-color: red;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.eye1, .eye2{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}
.eye2{
    left: 250px;
} 