.container{
    width: 600px;
    height: 400px;
    background-color:  lightblue;
    display: grid;
    /* grid-template-rows: 60px 60px 60px 60px 60px ;
    grid-template-columns: 100px 100px 100px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* row-gap: 10px;
    column-gap: 10px; */
    grid-gap:10px;
    /* justify-items: center;
    align-items: center; */
    place-items: center;
}

.item{
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}
.one{
    place-self: start;
}

/* .one{
    justify-self: end;
} */

/* .one{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1/3;
} */

/* .two{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-row: 1/3;
} */