h3{
    background-color: antiquewhite !important;
}
* {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    color: purple;
}

h1{
    color: #b92b27;

}

#login{
    background-color: white;

}
#signup{
    background-color: #b92b27;
    color: whitesmoke;
}

.upvote{
    background-color: green;
    color: aliceblue;
}
#myid{
    color: crimson;
}
div[id="myid"] p{
    background-color: aqua;
}
.follow{
    text-decoration: none;
}

.list ul li a{
    text-decoration: none;
}

.post a{
    color: purple;
    background-color: rgb(170, 225, 225);
}

p + h3{
    text-decoration: underline;
}
.upvote + button {
    background-color: blue;
    color: aliceblue ;
}

div > input{
    background-color: aquamarine ;
}

input[type="text"]{
    color: rgb(200, 220, 20);
}

input[type="password"]{
    color: #b92b27;
}

button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: overline;
}
button:active{
    background-color: #b92b27;

}
p:active{
    font-weight: bold;
    color: green;
}

input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}
.post:nth-of-type(2n){
    background-color: antiquewhite;
}
h1::first-letter{
    color: green;
}
#myid p::first-line{
    color: #b92b27;
    background-color: black;
}
p::selection{
    color: rgb(164, 242, 216);
}
