*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background: url("photo.jpg");
    height: 100vh;
    background-size: cover;
}

.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 700 ;
    position: absolute;
    left: 20px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.side_bars{
    position: fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}

.side_bars .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    height: 60px;
}

.side_bars .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.side_bars .btn_two i{
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}

.side_bars .menu{
    position: absolute;
    width: 100%;
    color: aliceblue;
    top: 80px;
}

.side_bars .menu li{
    margin: 6px;
    padding: 14px 20px;
}

.side_bars .menu i,a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.side_bars .menu i{
    padding-right: 8px;
}

.side_bars .social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}

.side_bars .social_media i{
    color: white;
    opacity: 0.5;
}

#check{
    display: none;
}

.side_bars .menu li:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.btn_one:hover i{
    font-size: 40px;
}

.btn_two:hover i{
    font-size: 30px;
}

.side_bars .social_media i:hover {
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .side_bars{
    left: 0;
}

#check:checked ~ .btn_one i{
    opacity: 0;
}

#check:checked ~.side_bars .btn_two i{
    opacity: 1;
}