.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;
}

.one{
    background-color: lightblue;
    position: relative;
    z-index: 1;
}

.two{
    background-color: lightskyblue;
    position: relative;
    bottom: 50px;
}