h1{
    background-color: yellow;
    border: 2px solid black;
}

@media(width:400px){
    h1{
        background-color: red;
        color: white;
    }
    div{
        background-color: blue;
        width: 200px;
        height: 200px;
    }
}

@media(min-width: 700px){
    h1{
        background-color: yellowgreen;
    }
}

@media(max-width: 200px){
    h1{
        background-color: blue;
    }
}

@media(min-width:200px) and (max-width:300px){
    h1{
        background-color: deeppink;
    }
}

@media(orientation: landscape){
    h1{
        background-color: aqua;
    }
}