div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 2px solid black;
    margin: 20px;
    display: inline-block;
}

#static{
    background-color: rgb(212, 0, 255);
    position: static;
    top: 50px;
    left: 50px;
}
#relative{
    background-color: rgb(0, 242, 255);
    position: relative;
    top: 50px;
    left: 50px;
}
#absolute{
    background-color: rgb(255, 81, 0);
    position: absolute;
    top: 50px;
    left: 50px;
}
#fixed{
    background-color: rgb(47, 0, 255);
    position: fixed;
    top: 200px;
    left: 200px;
}