*{
    justify-items: center;
    
}
#box{
    width: 70px;
    height: 200px;
    border: 2px solid black;
}
#box1{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: red;
    border-radius: 50%;
    margin: 10px;
}

#box2{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: yellow;
    border-radius: 50%;
    margin: 10px;
}

#box3{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: green;
    border-radius: 50%;
    margin: 10px;
}
