div{
    height: 200px;
    width: 600px;
    background-color: pink;
    border: 5px solid rgb(142, 221, 38);
    border-top-right-radius: 25px;
    margin-bottom: 20px;
}

h1{
    border-color: red;   
    border-width: 2px;
    border-style: dashed;
    border-radius: 50px;
    padding: 1px 2px 3px 3px;
}

button{
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: blueviolet;
}
button:hover{
    background-color: aqua;
    color: red;
}